<header>
    <div class="container text-center">
      <h1>Welcome to the website</h1>
    </div>
  </header>
<div class="container">
      <nav class="nav nav-pills nav-fill">
          <a routerLinkActive="active current" class="nav-item nav-link" routerLink="/home">Home</a>
          <a routerLinkActive="active current" class="nav-item nav-link" routerLink="/about">About</a>
          <a routerLinkActive="active current" class="nav-item nav-link" routerLink="/contact">Contact</a>
        </nav>
</div>
